.container{
  width: 75%;
  padding: 100px 80px;
  background-color: white;
  border: none;
  border-radius: 16px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#quote{
  font-size: 38px;
  font-style: italic;
}

#author{
  margin-top: 25px;
  align-self: flex-start;
  font-style: italic;
  text-align: right;
}

button{
  margin-top: 35px;
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid rgba(22,138,173,1);
  border-radius: 4px;
}
button:hover{
  background-color: rgba(22,138,173,1);
}
button:hover a{
  color: white;
}
button>a{
  text-decoration: none;
  color: black;
  font-weight: 600;
}

@media only screen and (max-width: 768px){
  .container{
    padding: 80px 30px;
  }
  #quote{
    font-size: 28px;
  }
  #author{
    margin-top: 18px;
  }
}